@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@layer base {
	@font-face {
		font-family: 'ES Rebond';
		src: url('/fonts/ESRebondGrotesque-Medium.otf') format('opentype');
	}
	@font-face {
		font-family: 'SF Pro';
		src: url('/fonts/SF-Pro.ttf') format('truetype');
	}
}
